.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h1{height:836.500000px;}
.h0{height:836.640000px;}
.w0{width:600.480000px;}
.w1{width:600.500000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h1{height:1115.333333pt;}
.h0{height:1115.520000pt;}
.w0{width:800.640000pt;}
.w1{width:800.666667pt;}
.x0{left:0.000000pt;}
}
